.chartBody {
  display: flex;
  align-items: center;
  border: 2px solid #48d1cc;
  border-radius: 10px;
  width: 1000px;
  height: 600px;
  justify-content: center;
  background-color: #f0fff0;
}

.list {
  margin: 0px 30px;
}

.list > li {
  font-size: 30px;
}

.list > li:first-child::marker {
  color: #0088fe;
}

.list > li:nth-child(2)::marker {
  color: #dd2c00;
}

.list > li:nth-child(3)::marker {
  color: #f4a460;
}

.list > li:nth-child(4)::marker {
  color: #3cb371;
}

.list > li:nth-child(5)::marker {
  color: #c71585;
}

.list > li:last-child::marker {
  color: #708090;
}
