.on {
  background-color: red;
}

.off {
  background-color: greenyellow;
}

tr > td:first-child {
  font-weight: bold;
}

.beamCurr {
  display: flex;
}

table {
  margin-right: 10px;
  width: 10%;
}

.beamsts {
  display: flex;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 3px dashed blue;
  border-radius: 15px;
  width: 50%;
}
.beamsts > h3 {
  margin-left: 30px;
}
