.wbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphBox {
  margin-top: 30px;
  background-color: #78e6e6;
  border: 2px solid green;
  box-shadow: 2px 2px 3px 3px gray;
  border-radius: 20px;
  transition: 0.3s all ease-in-out;
}

.graphBox:hover {
  border: 3px solid #8ae634;
  background-color: #9bedbc;
  box-shadow: none;
}

.stacticsBody {
  display: flex;
  margin-top: 20px;
}
