.mbox {
  width: 1200px;
  height: 900px;
  z-index: 999;
  position: absolute;
  margin-left: 40%;
  margin-top: 10%;
  background-color: #fff5ee;
  border-radius: 10px;
  border: 5px solid #87ceeb;
}

.btn_close {
  display: inline-block;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
}

.btn_close:after {
  display: inline-block;
  content: "\00d7";
  font-size: 60px;
}

.btn_close:hover {
  color: red;
}

.ulBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 100%;
  height: 100%;
}

.storageList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 20%;
}

.storageList_left {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 20%;
  margin-left: 20%;
}

.storageList > li {
  background-color: #ffe8cc;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 12px;
  margin: 8px;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}

.storageList_left > li {
  background-color: transparent;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 12px;
  margin: 8px;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}

.storageList > li:hover {
  background-color: #333;
  color: #fff;
}
