

.statusColor0 {
    background-color: rgba(244, 76, 76, 0.7);
    transition: all 0.2s ease-in-out;
}

.statusColor0:hover {
    background-color: rgba(244, 76, 76, 1);;
}

.statusColor1 {
    background-color: rgba(76, 244, 76, 0.7);
    transition: all 0.2s ease-in-out;
}

.statusColor1:hover {
    background-color: rgba(76, 244, 76, 1);
}

.buttonStyle {
    width: 80%;
    height: 80%;
    border: 3px solid darkgreen;
    border-radius: 10%;
    font-weight: bolder;
}

.buttonStyle:hover {
    cursor: pointer;
}