.chartRegion {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.chartTools {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.chartTools > button {
  margin-left: 10px;
  height: 50px;
  background-color: white;
  border: none;
}

.chartTools > button:hover {
  background-color: #e0ebff;
  border-radius: 5%;
}

.imgs {
  height: 45px;
}

.imgs:hover {
  cursor: pointer;
}

.chartWrap {
  width: 110%;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 100px;
}

.chart {
  background-color: aliceblue;
  width: 100%;
  height: 1200px;
  border-radius: 5px;
}

.stacticsWrap {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
}

.stac0 {
  flex: 1;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}

.stac0_chart {
  height: 100%;
  width: 100%;
}

.stac1 {
  flex: 1;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}

.stac1_chart {
  height: 100%;
  width: 100%;
}

.stac2 {
  flex: 1;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}

.stac2_chart {
  height: 100%;
  width: 100%;
}

.gausianBoxWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.drawGausianBox {
  display: flex;
  align-items: center;
}

.rightarrowBox {
  border: none;
  background: none;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.rightarrowBox:hover {
  transform: translateX(10px);
}

.rightArrow {
  height: 40px;
}

.allGausian {
  width: 70%;
  height: 400px;
}
